html {
  font-family: "Noto Serif", serif;
}

header,
footer {
  background-color: #70ad55;
  color: #fff;
}

.opt {
  color: #70ad55;
}

.border {
  border-bottom: 1px solid #70ad55;
}

.btn {
  background-color: #6e8c62;
  border-style: none;
}

input,
textarea,
select {
  border-color: #6e8c62;
}

textarea {
  height: 10em;
}
